.inputpage {
  border: $inputpage-borders;
  background-color: $inputpage-bg;
  padding: $inputpage-padding-y $inputpage-padding-x;
  box-shadow: $inputpage-box-shadow;

  .title {
    color: $inputpage-title-color;
    font-size: $inputpage-title-font-size;
  }

  .form {
    margin: 0 15px

    label {
      text-align: right;
    }

    input, select, textarea {
      border-radius: 0;
      border-width: 1.5px;
      display: inline-block;
      // font-size: 18px
      // padding: 5px 16px
    }

    .avatar {
      width: 160px;
      height: 160px;
      min-width: 160px;
      height: 160px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
  }
}
