.posts, .activism-pages {

  .tabbar {

    background: trasparent;
    line-height: $tabbar-height;
    left: 0;
    height: $tabbar-height;
    position: fixed;
    right: 0;
    top: $header-height;
    z-index: $zindex-tabbar;
  }

  .tab {
    background: $tabbar-bg;
    border-bottom: 1px solid $app-bg;
    box-sizing: border-box;
    color: $tab-color;
    cursor: pointer;
    display: inline-block;
    font-size: $tabbar-font-size;
    font-weight: bold;
    height: $tabbar-height;
    line-height: $tabbar-height;
    text-align: center;
  }

  .tab.active {
    border-bottom: 6px solid lighten($header-bg, 10%);
    color: $tab-active-color;
  }

  .tab:hover {
    border-bottom: 6px solid lighten($header-bg, 10%);
  }
}
