.page-layout__viewport {
  padding-top: 2rem;
}

.page-layout__navbar {
  background-color: #02447b;
  width: 100%;
}

.page-layout__nav-item,
.page-layout__nav-item:visited {
  color: #e1e4fa;
}
.page-layout__nav-item:hover {
  color: white;
}

.page-layout__nav-item--active {
  color: white !important;
  font-weight: bold;
  text-decoration: underline;
}

.apple, .android {
  display: block;
  text-align: center;
}

.apple-img, .android-img {
  height: 60px;
}

.alert-warning {
  border-color: #c3b48f;
}

.jollyville-squeeze-ad {
  margin-bottom: 10px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: bottom;
}

.jollyville-squeeze-ad img {
  width: 179.5px;
  height: 140px;
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
}

#navbarFooter {
  text-align: center;
  font-size: smaller;
  color: #e1e4fa;
}
