$sidebar-borders: none;
$sidebar-box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);

$sidebar-nav-link-borders:          0;
$sidebar-nav-link-hover-borders:    0;
$sidebar-nav-link-active-borders:   0;

$inputpage-borders: none;
$inputpage-box-shadow: 0 0 6px rgba(0, 0, 0, .2);

$posts-container-border: 1px solid rgba(0, 0, 0, .1);
$activism-pages-container-border: 1px solid rgba(0, 0, 0, .1);

$activism-page-borders: none;
$activism-page-shadow: 0 0 6px rgba(0, 0, 0, .2);

$post-borders: none;
$post-shadow: 0 0 6px rgba(0, 0, 0, .1);

$officials-container-border: 1px solid rgba(0, 0, 0, .1);
