.preview-img {

  cursor: pointer;

  img {
    display: inline-block;
    width: 100%;
  }

  .overlay {
    background: rgba(0, 0, 0, .5);
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    visibility: hidden;
  }

  &:hover .overlay {
    visibility: visible;
  }
}
